<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="productModalLabel">Nuevo producto</h5>
            <button type="button" class="btn-close" (click)="close()" aria-label="Cerrar"></button>
         </div>
         <div class="modal-body">
            <div class="mb-3">
               <label for="title" class="form-label">Título</label>
               <input id="title" formControlName="title" type="text" class="form-control"
                  [class.is-invalid]="title.invalid && (title.dirty || title.touched)" />

               @if (title.invalid && (title.dirty || title.touched)) {
               <div class="invalid-feedback">El título es obligatorio.</div>
               }
            </div>
            <div class="mb-3">
               <label for="price" class="form-label">Precio</label>
               <input id="price" formControlName="price" type="number" class="form-control"
                  [class.is-invalid]="price.invalid && (price.dirty || price.touched)" />

               @if (price.invalid && (price.dirty || price.touched)) {
               <div class="invalid-feedback">El precio es obligatorio y debe ser positivo.</div>
               }
            </div>
            <div class="mb-3">
               <label for="description" class="form-label">Descripción</label>
               <textarea id="description" formControlName="description" class="form-control" rows="3"
                  [class.is-invalid]="description.invalid && (description.dirty || description.touched)"></textarea>

               @if (description.invalid && (description.dirty || description.touched)) {
               <div class="invalid-feedback">La descripción es obligatoria.</div>
               }
            </div>
            <div class="mb-3">
               <label for="images" class="form-label">URL Imagen</label>
               <input id="images" formControlName="images" type="url" class="form-control"
                  [class.is-invalid]="images.invalid && (images.dirty || images.touched)" />

               @if (images.errors?.['required'] && (images.dirty || images.touched)) {
               <div class="invalid-feedback">La URL de la imagen es obligatoria.</div>
               }
               @if (images.errors?.['invalidImageUrl'] && (images.dirty || images.touched)) {
               <div class="invalid-feedback">La URL debe apuntar a una imagen válida (.jpg, .png, etc.).</div>
               }
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="close()">
               <i style="font-size: 14px;" class="material-icons">close</i> Cerrar
            </button>
            <button type="submit" class="btn btn-outline-primary">
               <i style="font-size: 14px;" class="material-icons">save</i> Guardar
            </button>
         </div>
      </form>
   </div>
</div>