<div class="container">
  <h1 class="mb-4">Lista de Productos</h1>

  @if (loading) {
    <app-spinner></app-spinner>
  } @else {
    @if (products.length > 0) {
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center gap-2 mb-3">
        <app-pagination
          [offset]="offset()"
          [limit]="limit()"
          [total]="totalProducts"
          [currentLength]="products.length"
          (pageChange)="onPageChange($event)">
        </app-pagination>

        <button type="button" (click)="openModal()" class="btn btn-outline-primary">
           <i style="font-size: 14px;" class="material-icons">add</i> Añadir Productos
        </button>
      </div>

      <div class="g-4 product-grid">
        @for (product of products; track product.id) {
          <div class="product-item">
            <div class="card h-100 shadow-lg bg-body rounded">
              <div class="position-relative">
                <a [routerLink]="['/products', product.id]">
                  <img [src]="product.images[0]" class="card-img-top" [alt]="product.title" loading="lazy" />
                </a>
                <button class="btn btn-sm position-absolute icon-btn delete-btn" (click)="deleteProduct(product.id || 0)">
                  <i class="material-icons delete-icon">delete</i>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="badge rounded-pill bg-success">{{ product.category?.name }}</small>
                  <h2>{{ product.price }} $</h2>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <p>No hay productos disponibles.</p>
    }
  }
</div>

<app-product
  #productModalRef
  (productCreated)="onProductCreated()"
  (closeModal)="closeModal()">
</app-product>
