.icon-btn {
  top: 181px;
  right: 10px;
  z-index: 1;
  background-color: white;
  padding: 2px;
  border-radius: 40%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.delete-icon {
  color: red;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
