<div class="container mt-4">
   <h1 class="mb-4">Lista de Productos</h1>

   <ng-container *ngIf="products$ | async as products; else loading">
      <div *ngIf="products.length > 0; else noProducts">
         <div class="d-flex justify-content-between">
            <app-pagination [offset]="offset" [limit]="limit" [total]="totalProducts" [currentLength]="products.length"
               (pageChange)="onPageChange($event)">
            </app-pagination>
            <div><button type="button" (click)="openModal()" class="btn btn-outline-primary">Añadir Productos</button>
            </div>
         </div>
         <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" *ngFor="let product of products">
               <div class="card h-100">
                  <div class="position-relative">
                     <img [src]="product.images[0]" class="card-img-top" [alt]="product.title" />

                     <button class="btn btn-danger btn-sm position-absolute"
                        style="top: 277px; right: 10px; z-index: 1;" (click)="deleteProduct(product.id || 0)">
                        Eliminar
                     </button>
                  </div>
                  <div class="card-body">
                     <h5 class="card-title">{{ product.title }}</h5>
                     <p class="card-text">{{ product.description }}</p>
                     <div class="d-flex justify-content-between align-items-center">
                        <small class="badge rounded-pill bg-success">{{ product.category?.name }}</small>
                        <h2>${{ product.price }}</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </ng-container>

   <ng-template #loading>
      <app-spinner></app-spinner>
   </ng-template>

   <ng-template #noProducts>
      <p>No hay productos para mostrar.</p>
   </ng-template>

   <app-product #productModalRef (productCreated)="onProductCreated()"></app-product>

</div>